@import "utils/reset";
@import "utils/colors";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background:$black;
  color:$green;
}
.mop2015{
  &.blue{
    .bgChange{
      background:$blue!important;
    }
    .colorChange{
      color: $blue!important;
    }
  }
  &.red{
    .bgChange{
      background:$red!important;
    }
    .colorChange{
      color: $red!important;
    }
  }
}
.home{
  .head{
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
    background:black;
    a{
      text-decoration:none;
    }
    .navigation{
      position:absolute;
      width: 0;
      height: 130px;
      left:70px;
      overflow:hidden;
      background:$green;
      transition:all .5s;
      color:white;
      &.active{
        width: 100%;
        height: 100%;
        .links{
          left:400px;
          opacity:1;
        }
      }
      .links{
        position:absolute;
        left:200px;
        top:100px;
        opacity:0;
        transition:all .55s;
        .line{
          position:absolute;
          left:-130px;
          top: 15px;
          width: 100px;
          height: 1px;
          background:white;
          transition:top .3s;
          &.second{
            top:55px;
          }
          &.third{
            top:95px;
          }
          &.fourth{
            top:135px;
          }
          &.fifth{
            top:175px;
          }
          &.sixth{
            top:215px;
          }
        }
      }
      ul{
        display:block;
        width: 200px;
        li{
          width: 100%;
          padding-bottom:10px;
          a{
            font-size:30px;
          }
        }
      }

    }
    .menu{
      position:absolute;
      top:0;
      left:0;
      width: 70px;
      height: 130px;
      background:#262626;
      transition: height .5s;
      overflow:hidden;
      cursor:pointer;
      &.active{
        height: 100%;
      }
      p{
        position:absolute;
        top:50px;
        left:11px;
        color:#545454;
        font-size:18px;
        transform: rotate(-90deg);
        line-height: 70px;
      }
    }
    .colors{
      position:fixed;
      top:50%;
      left:-50px;
      margin-left:-8px;
      transition:left .5s;
      &.active{
        left:30px;
      }
      .circle{
        width: 16px;
        height: 16px;
        border:1px solid $green;
        border-radius:8px;
        margin-bottom:10px;
        cursor:pointer;
        &.active{
          background: $green;
          &.red{
            background: $red;
          }
          &.blue{
            background: $blue;
          }
        }
        &.red{
          border-color:$red;
        }
        &.blue{
          border-color: $blue;
        }
      }
    }
    .text{
      margin-top:150px;
      margin-left:140px;
    }
    h1{
      font-size:55px;
      width: 200px;
      margin-bottom:30px;
    }
    h2{
      font-size:16px;
    }
  }
  .sections{
    position:absolute;
    top:100%;
    left:0;
    width: 100%;
    padding: 50px 0;
    background:#232323;
    .section{
      padding-top:100px;
    }
    .container{
      width: 1100px;
      margin:0 auto;
      .left,.right{
        float:left;
        width: 50%;
      }
      .left, .right{
        position:relative;
        .big{
          color:#373737;
          font-size:200px;
          line-height: 1;
          text-align:center;
        }
        .small{
          position:absolute;
          top:50%;
          left:50%;
          margin-top:-10px;
          font-size:24px;
          color:#545454;
          span{
            position:absolute;
            left:-120px;
            top:10px;
            display:block;
            width: 75px;
            height: 2px;
            background:$green;
          }
        }
      }
      .right, .left{
        h3{
          font-size:36px;
          line-height: 1.4;
          margin-bottom:25px;
        }
        p{
          font-size:20px;
          line-height: 1.4;
        }
      }
    }
    .program{
      margin-top:150px;
      display:block;
      width: 100%;
      height: 95px;
      background:#373737;
      padding:0 35px;
      text-decoration:none;
      color:$green;
      line-height: 95px;
      font-size:24px;
    }
    .foot{
      margin-top:50px;
      .tag{
        float:left;
        color:#373737;
        font-size:20px;
        text-decoration:none;
      }
      .old{
        float:right;
        li{
          float:left;
          margin-left:25px;
          height: 25px;
          &.divider{
            width: 1px;
            height: 25px;
            background: $green;
          }
          a{
            color:#373737;
            font-size:20px;
            line-height: 25px;
            text-decoration:none;
          }
        }
      }
    }
  }
}
