@import "utils/colors";
@import "utils/fonts";

.partners{
  .heading{
    padding-left:50%;
    padding-top: 70px;
    padding-bottom:70px;
    .line{
      float:left;
      height: 35px;
      width: 1px;
      background:$codGray;
      margin-right:20px;
    }
    h3{
      @include publico-bold;
      font-size:12px;
      text-transform:uppercase;
      color:$dorado;
      margin-bottom:10px;
    }
    p{
      @include publico-bold;
      font-size:12px;
      color:$dorado;
      margin-bottom:10px;
    }
  }
  .icons{
    .left{
      position:relative;
      float:left;
      width: 50%;
      min-height:100px;
      border-left: 1px solid $codGray;
      border-top: 1px solid $codGray;
      border-bottom: 1px solid $codGray;
      height: 552px;
      img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        opacity:.7;
        transition:opacity .3s;
        &:hover{
          opacity:1;
        }
      }
    }
    .second{
      position:relative;
      width: 100%;
      padding:0;
      border:none;
      .icon{
        position:relative;
        float:left;
        width: 25%;
        height: 276px;
        min-height:50px;
        border-right: 1px solid $codGray;
        border-top: 1px solid $codGray;
        &:nth-child(1),&:nth-child(5),&:nth-child(9),&:nth-child(13),&:nth-child(17),&:nth-child(21){
          border-left: 1px solid $codGray;
        }
        &:nth-last-child(-n+4){
          border-bottom:1px solid $codGray;
        }
        &.big{
          width: 100%;
          img{
            width: 50%;
          }
        }
        img{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          opacity:.7;
          transition:opacity .3s;
          &:hover{
            opacity:1;
          }
        }
      }
    }
    .right{
      float:left;
      width: 50%;
      min-height:100px;
      .icon{
        position:relative;
        float:left;
        width: 50%;
        border: 1px solid $codGray;
        padding:40px;
        height: 276px;
        &:nth-child(1){
          border-right:none;
          border-bottom:none;
        }
        &:nth-child(2){
          border-bottom:none;
        }
        &.big{
          width: 100%;
          img{
            width: 50%;
          }
        }
        img{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          opacity:.7;
          transition:opacity .3s;
          &:hover{
            opacity:1;
          }
        }
      }
    }
  }
}
