@import "utils/colors";
@import "utils/fonts";

.partners{
  .heading{
    padding-left:50%;
    padding-top: 70px;
    padding-bottom:70px;
    .line{
      float:left;
      height: 35px;
      width: 1px;
      background:$codGray;
      margin-right:20px;
    }
    h3{
      @include publico-bold;
      font-size:12px;
      text-transform:uppercase;
      color:$dorado;
      margin-bottom:10px;
    }
    p{
      @include publico-bold;
      font-size:12px;
      color:$dorado;
      margin-bottom:10px;
    }
  }
  .icons{
    .left, .right{
      float:left;
      width: 50%;
      min-height:100px;
      .icon{
        float:left;
        width: 50%;
        border: 1px solid $codGray;
        padding:40px;
        &.big{
          width: 100%;
        }
        img{
          display:block;
          width: 100%;
          margin:auto;
        }
      }
    }
  }
}
