@import "utils/colors";
#bars {
    position: absolute;
    height: 30px;
    width: 30px;
    top: -60px;
    right: 30px;
}

.bar {
  background: $green;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 1px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 8px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 15px; animation-duration: 400ms; }
.bar:nth-child(4)  { left: 22px; animation-duration: 450ms; }
