<div class="guests">
  <div class="container">
    <div class="top" sticky>
      <div class="line bgChange"></div>
      <h2>Naši gosti</h2>
      <a>Scroll down</a>
    </div>
    <ul class="list">
      <a href="">
        <li>
          <div class="line bgChange"></div>
          <h3 class="colorChange">Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line bgChange"></div>
          <h3 class="colorChange">Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line bgChange"></div>
          <h3 class="colorChange">Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line bgChange"></div>
          <h3 class="colorChange">Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line bgChange"></div>
          <h3 class="colorChange">Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line bgChange"></div>
          <h3 class="colorChange">Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line"></div>
          <h3>Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line"></div>
          <h3>Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line"></div>
          <h3>Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line bgChange"></div>
          <h3 class="colorChange">Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <div class="line"></div>
          <h3>Dino Trojak</h3>
          <img src="img/mop2015.jpg" alt="">
        </li>
      </a>
    </ul>
  </div>
  <div ng-include src="'main/views/footer.html'"></div>
</div>
