<div class="guests">
  <div class="container">
    <div class="top" sticky>
      <div class="line bgChange"></div>
      <h2>Festival su omogučili</h2>
      <a>Scroll down</a>
    </div>
    <div class="partners">
      <div class="heading">
        <div class="line"></div>
        <h3>Pokrovitelji</h3>
        <p>SZ UNIN uz potporu grada Varaždina.</p>
      </div>
      <div class="icons group">
        <div class="left">
          <div class="icon">
            <img src="img/logos/studentskizbor.png" alt="">
          </div>
        </div>
        <div class="right">
          <div class="icon">
            <img src="img/logos/unin.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/varazdin.png" alt="">
          </div>
          <div class="icon big">
            <img src="img/logos/udruga_mop.png" alt="">
          </div>
        </div>
      </div>
      <div class="heading">
        <div class="line"></div>
        <h3>Partneri</h3>
        <p>Mediji, prijatelji i još neki!</p>
      </div>
      <div class="icons group">
        <div class="second">
          <div class="icon">
            <img src="img/logos/dsd.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/vrum.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/galerija.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/tmobile.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/radiona.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/degordian.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/five.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/infinum.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/unity.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/404.png" alt="">
          </div>
          <div class="icon">
            <img src="img/logos/pressedan.png" alt="">
          </div>
        </div>
        <div class="right"></div>
      </div>
    </div>
  </div>
  <div ng-include src="'main/views/footer.html'"></div>
</div>
