<div class="home">
  <div class="head" full-height>
    <a ng-click="main.toggleMenu()">
      <div class="menu" ng-class="{active: main.menu}">
        <p>Menu</p>
      </div>
    </a>
    <div class="colors" ng-class="{active: main.menu}">
      <div class="circle green"
            ng-click="main.changeColor('green')"
            ng-class="{active: main.color === 'green'}"
            ></div>
      <div class="circle blue"
            ng-click="main.changeColor('blue')"
            ng-class="{active: main.color === 'blue'}"
            ></div>
      <div class="circle red"
            ng-click="main.changeColor('red')"
            ng-class="{active: main.color === 'red'}"
            ></div>
    </div>
    <div class="navigation bgChange" ng-class="{active: main.menu}">
      <div class="links">
        <div class="line" ng-class="main.menuHover"></div>
        <ul>
          <li>
            <a>Naslovna</a>
          </li>
          <li ng-mouseenter="main.menuHover = 'second'" ng-mouseleave="main.menuHover = main.currentActive">
            <a>Program</a>
          </li>
          <li ng-mouseenter="main.menuHover = 'third'" ng-mouseleave="main.menuHover = main.currentActive">
            <a>Gosti</a>
          </li>
          <li ng-mouseenter="main.menuHover = 'fourth'" ng-mouseleave="main.menuHover = main.currentActive">
            <a>Lokacija</a>
          </li>
          <li ng-mouseenter="main.menuHover = 'fifth'" ng-mouseleave="main.menuHover = main.currentActive">
            <a>Partneri</a>
          </li>
          <li ng-mouseenter="main.menuHover = 'sixth'" ng-mouseleave="main.menuHover = main.currentActive">
            <a>Info</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text">
      <h1 class="colorChange">Digital world in focus</h1>
      <h2 class="colorChange">MOP 04<br/> Festival multimedije<br/> 21.5. — 23.5.2015.</br> Varaždin</h2>
    </div>
  </div>
  <div class="sections">
    <div class="section">
      <div class="container">
        <div class="left">
          <p class="big ">01</p>
          <p class="small"><span class="bgChange"></span>fokus</p>
        </div>
        <div class="right">
          <h3 class="colorChange">Razvoj zajednice kroz promicanje multimedije i digitalne kulture.</h3>
          <p class="colorChange">Festival multimedije, oblikovanja i primjene s ciljem razmjene znanja i povećanja potencijala multimedijalne zajednice. </p>
        </div>
      </div>
    </div>
  </div>
</div>
