<div class="sections">
  <div class="section group">
    <div class="container group">
      <div class="left">
        <p class="big ">01</p>
        <p class="small"><span class="bgChange"></span>fokus</p>
      </div>
      <div class="right">
        <h3 class="colorChange">FOKUS NA DIGITALNE MEDIJE KROZ PRIKAZ DIGITALNOG STVARAŠTVA </h3>
        <p class="colorChange">MOP Festivala se u svim svojim segmentima fokusira se na digitalne medije i sve načine digitalnog stvaralaštva.</p>
      </div>
    </div>
  </div>
  <div class="section group">
    <div class="container group">
      <div class="left">
        <h3 class="colorChange">POTICAJ I RAZVOJA MULTIMEDIJALNE KULTURE MEĐU MLADIMA</h3>
        <p class="colorChange">Cjelokupni sadržaj festivala orijentiran je na razvoja studentske populaciju u području multimedije, oblikovanja i primjene. </p>
      </div>
      <div class="right">
        <p class="big ">02</p>
        <p class="small"><span class="bgChange"></span>razvoj</p>
      </div>
    </div>
  </div>
  <div class="section group">
    <div class="container group">
      <div class="left">
        <p class="big ">03</p>
        <p class="small"><span class="bgChange"></span>zajednica</p>
      </div>
      <div class="right">
        <h3 class="colorChange">POVEZIVANJE MULTIMEDIJALNE ZAJEDNICE, RAZMJENA ZNANJA I STJECANJE ISKUSTVA.</h3>
        <p class="colorChange">Cilj je postići stalnu aktivaciju studenata, multimedijalnih umjetnika i profesionalaca iz struke te realizirati razmjenu njihovih znanja.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <a href="" class="program colorChange">Program 2015</a>
  </div>
  <div ng-include src="'main/views/footer.html'"></div>
</div>
