<div class="sections">
  <div class="section group">
    <div class="container group">
      <div class="left">
        <p class="big ">01</p>
        <p class="small"><span class="bgChange"></span>fokus</p>
      </div>
      <div class="right">
        <h3 class="colorChange">Razvoj zajednice kroz promicanje multimedije i digitalne kulture.</h3>
        <p class="colorChange">Festival multimedije, oblikovanja i primjene s ciljem razmjene znanja i povećanja potencijala multimedijalne zajednice. </p>
      </div>
    </div>
  </div>
  <div class="section group">
    <div class="container group">
      <div class="left">
        <h3 class="colorChange">Razvoj zajednice kroz promicanje multimedije i digitalne kulture.</h3>
        <p class="colorChange">Festival multimedije, oblikovanja i primjene s ciljem razmjene znanja i povećanja potencijala multimedijalne zajednice. </p>
      </div>
      <div class="right">
        <p class="big ">02</p>
        <p class="small"><span class="bgChange"></span>razvoj</p>
      </div>
    </div>
  </div>
  <div class="section group">
    <div class="container group">
      <div class="left">
        <p class="big ">03</p>
        <p class="small"><span class="bgChange"></span>zajednica</p>
      </div>
      <div class="right">
        <h3 class="colorChange">Razvoj zajednice kroz promicanje multimedije i digitalne kulture.</h3>
        <p class="colorChange">Festival multimedije, oblikovanja i primjene s ciljem razmjene znanja i povećanja potencijala multimedijalne zajednice. </p>
      </div>
    </div>
  </div>
  <div class="container">
    <a href="" class="program colorChange">Program 2015</a>
    <div class="foot">
      <a href="" class="tag">#mopfest</a>
      <ul class="old">
        <li><a href="http://2013.mop-fest.com" target="_blank">MOP 02</a></li>
        <li class="divider bgChange"></li>
        <li><a href="http://2014.mop-fest.com" target="_blank">MOP 03</a></li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="about">
        <p>© 2015. Made width ♥ <a href="">Dino</a>, <a href="">Fran</a> & <a href="">Marko</a></p>
      </div>
      <ul class="social">
        <li>
          <a href="">Facebook</a>
        </li>
        <li>
          <a href="">Github</a>
        </li>
        <li>
          <a href="">Twitter</a>
        </li>
        <li>
          <a href="">Instagram</a>
        </li>
        <li>
          <a href="">Vimeo</a>
        </li>
      </ul>
    </div>
  </div>
</div>
