<div class="schedule">
  <div class="nav" sticky>
    <div class="container">
      <ul>
        <li class="colorChange">
          Scroll down
        </li>
        <li class="colorChange active" ng-class="{green: main.color ==='green', blue: main.color === 'blue', red: main. color === 'red'}">
          <h4>Četvrtak</h4>
          <p>Dan 1 - 21.05.</p>
        </li>
        <li class="colorChange" ng-class="{green: main.color ==='green', blue: main.color === 'blue', red: main. color === 'red'}">
          <h4>Petak</h4>
          <p>Dan 2 - 22.05.</p>
        </li>
        <li class="colorChange" ng-class="{green: main.color ==='green', blue: main.color === 'blue', red: main. color === 'red'}">
          <h4>Subota</h4>
          <p>Dan 3 - 23.05.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="program">
      <div class="pres group" ng-repeat="guest in schedule.guests" ng-click="guest.active = !guest.active" ng-class="{active: guest.active}">
        <div class="time">
          <p class="hidden">KADA I GDJE</p>
          <p class="vis colorChange">{{ guest.time }}</p>
          <p class="hidden">Palača Herzer</p>
          <p class="hidden">Franjevački trg 6</p>
        </div>
        <div class="name">
          <p class="hidden">BIO</p>
          <p class="vis colorChange">{{ guest.name }}</p>
          <img class="bigHidden" ng-src="{{guest.img}}"/>
          <p class="bigHidden">{{ guest.bio }}</p>
          <div class="links bigHidden">
            <div class="line bgChange"></div>
            <ul>
              <li ng-repeat="link in guest.links"><a ng-href="{{link.link}}" class="hoverChange" target="_blank">{{ link.name }}</a></li>
            </ul>
          </div>
        </div>
        <div class="theme">
          <p class="hidden">OPIS</p>
          <p class="vis colorChange">{{guest.workshop.name}}</p>
          <p class="bigHidden">{{ guest.workshop.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div ng-include src="'main/views/footer.html'"></div>
</div>
